{% extends 'base.html.twig' %}

{% block title %}
	New product
{% endblock %}

{% block body %}
	<main >
		<header class="grid" style="grid-template-columns: 1fr auto;">
			<h1>Create new product</h1>
			<a href="{{ path('product_index') }}">
				<button>Cancel</button>
			</a>
		</header>
		{% include 'product/_form.html.twig' %}
	</main>
{% endblock %}



